{% extends 'base.html.twig' %}

{% block title %}Hello CarController!{% endblock %}

{% block body %}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Modèle</th>
            <th>Année</th>
            <th>Couleur</th>
            <th>Marque</th>
        </tr>
    </thead>
    <tbody>
        {% for car in cars %}
        <tr>
            <td>{{ car.id }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.brand }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
